<template>
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link :to="{name: 'overview'}">Dashboard</router-link>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
        </ol>
        <!-- Page Content -->
        <h1>Blank Page</h1>
        <hr>
        <p>This is a great starting point for new custom pages.</p>
    </div>    
</template>
<script>
export default {
    name: 'Blank'
}
</script>
<style scoped>

</style>

