<template>
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link :to="{name: 'overview'}">Dashboard</router-link>
            </li>
            <li class="breadcrumb-item active">404 Error</li>
        </ol>
        <!-- Page Content -->
        <h1 class="display-1">404</h1>
        <p class="lead">Page not found. You can
        <a href="#" @click.prevent="goBack">go back</a>
        to the previous page, or
        <router-link :to="{name: 'overview'}">return home</router-link>.</p>
    </div>    
</template>
<script>
export default {
    name: 'NotFound',
    data () {
        return {}
    },
    methods: {
        goBack (){
            this.$router.go(-1); 
        }
    }
}
</script>
<style scoped>

</style>

