<template>
  <div id="app"> <!-- class="bg-dark" -->
    <router-view/>
  </div>
</template>

<script>
import 'bootstrap';
import 'bootstrap/dist/css/bootstrap.css';
import '@fortawesome/fontawesome-free/css/all.min.css';
import 'jquery-easing';
import "./style/sb-admin.css";

export default {
  name: 'App'
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
#app {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
}
</style>
