<template>
    <div>
        <div id="dynamic-background"></div>
        <div class="container sb-container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Reset Password</div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h4>Forgot your password?</h4>
                        <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                                <label for="inputEmail">Enter email address</label>
                            </div>
                        </div>
                        <router-link class="btn btn-primary btn-block" :to="{name: 'login'}">Reset Password</router-link>
                    </form>
                    <div class="text-center">
                        <router-link class="d-block small mt-3" :to="{name: 'register'}">Register an Account</router-link>
                        <router-link :to="{name: 'login'}" class="d-block small">Login Page</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</template>
<script>
// this lib export nothing, but set window.particlesJS
import 'particles.js';
import particlesConf from './particles.conf';

export default {
    name: 'ForgetPassword',
    data () {
        return {}
    },
    mounted () {
        // generate dynamic background
        window.particlesJS('dynamic-background', particlesConf);
    },
}
</script>
<style scoped>
  /* @import "../../style/sb-admin.css"; */
</style>


