<template>
    <div>
        <div id="dynamic-background"></div>
        <div class="container sb-container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                                <label for="inputEmail">Email address</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                <label for="inputPassword">Password</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" @click.prevent="login">Login</button>
                    </form>
                    <div class="text-center">
                        <router-link class="d-block small mt-3" :to="{name: 'register'}">Register an Account</router-link>
                        <router-link class="d-block small" :to="{name: 'forgetpassword'}">Forgot Password?</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// this lib export nothing, but set window.particlesJS
import 'particles.js';
import particlesConf from './particles.conf';

export default {
    name: 'Login',
    data () {
        return {
            msg: 'Welcome to Your Vue.js App'
        }
    },
    methods: {
        login: function(){
            this.$router.replace({path: '/main'});
        }
    },
    mounted () {
        // generate dynamic background
        window.particlesJS('dynamic-background', particlesConf);
    },
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  /* @import "../../style/sb-admin.css"; */
</style>
