<template>
<div>
    <div id="dynamic-background"></div>
    <div class="container sb-container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                <label for="firstName">First name</label>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                                <label for="lastName">Last name</label>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
                            <label for="inputEmail">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                    <label for="inputPassword">Password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                    <label for="confirmPassword">Confirm password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <router-link class="btn btn-primary btn-block" :to="{name: 'login'}">Register</router-link>
                </form>
                <div class="text-center">
                    <router-link class="d-block small mt-3" :to="{name: 'login'}">Login Page</router-link>
                    <router-link :to="{name: 'forgetpassword'}" class="d-block small">Forgot Password?</router-link>
                </div>
            </div>
        </div>
    </div>
</div>   
</template>
<script>
// this lib export nothing, but set window.particlesJS
import 'particles.js';
import particlesConf from './particles.conf';

export default {
    name: 'Register',
    data () {
        return {}
    },
    methods: {
    },
    mounted () {
        // generate dynamic background
        window.particlesJS('dynamic-background', particlesConf);
    },
}
</script>
<style scoped>
  /* @import "../../style/sb-admin.css"; */
</style>

